* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================================
   MENÚ
========================================================= */ 
.menu {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.menu ul {
    list-style: none;
}

.menu-item a {
    font-family: Helvetica, sans-serif;
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Estado activo */
.menu-item.activo a {
    color: #333;
}

/* Estado colapsado (barras) */
.menu-item.collapsed a {
    width: 20px;
    height: 4px;
    background-color: #333;
    padding: 0;
    border-radius: 6px;
    text-indent: -9999px;
    margin-bottom: 2px; /* separa las barras */
}

/* Hover sobre menú: muestra completo */
.menu:hover .menu-item.collapsed a {
    width: auto;
    height: auto;
    
    background-color: rgba(0, 0, 0, 0);
    
    padding: 5px 0;
    text-indent: 0;
    margin-bottom: 0; /* quitamos el margen para que vuelva a la normalidad */
}


/* =========================================================
   TRANSICIÓN APARECER 
========================================================= */ 
.fade {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.fade.visible {
    opacity: 1;
}