* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- PORTADA --- */
.portada {
    width: 100%;
    height: 100vh;
}

.portada img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

/* --- LIBRO --- */
.libro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 50px 0;
}

#book {
    width: 900px;
    height: 600px;
    background: #fafafa;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3); /* ← sombra más profunda */
    border-radius: 6px;
    perspective: 2000px;
}

#book .page {
    background: white;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

#book img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* ← muestra la imagen completa */
    background-color: #fff; /* evita fondo gris si sobra espacio */
}

/* Responsive */
@media (max-width: 768px) {
    #book {
        width: 95vw;
        height: 70vh;
    }
}

/* --- Botones de navegación --- */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(85, 85, 85, 0.28);
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}

.nav:hover {
    background: #fff;
    transform: translateY(-50%) scale(1.1);
}

.nav.prev {
    left: 30px;
}
.nav.next {
    right: 30px;
}

.libro {
    position: relative; /* Para posicionar los botones dentro del contenedor */
}

.gusanillo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    pointer-events: none; /* no bloquea clics */
    z-index: 5;
    opacity: 0.9;
}

.mapa iframe {
    width: 100%; /* que ocupe todo el contenedor */
    height: 500px; /* altura deseada */
    border: 2px solid #333; /* borde alrededor del mapa */
    border-radius: 12px; /* esquinas redondeadas */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* sombra 3D */
    filter: grayscale(10%) contrast(1.1) brightness(1); /* efectos visuales */
}

/* Responsive */
@media (max-width: 768px) {
    .mapa iframe {
        height: 300px;
    }
}