* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor del libro */
#revista {
    background-image: url(../img/sesgo/background.jpg);
}

#book {
  width: 900px;             /* ancho del libro */
  height: 600px;            /* alto del libro */
  margin: 50px auto;        /* centrado horizontal */
  box-shadow: 0 10px 30px rgba(0,0,0,0.3); /* sombra 3D */
    background-color: #fff;
}

/* Todas las páginas */
#book .page {
  overflow: hidden;
  background: #fff;
  position: relative;
}

/* Imágenes de las páginas */
#book .page img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* muestra toda la página sin recortar */
  display: block;
}


/* Responsive para tablets y móviles */
@media (max-width: 768px) {
  #book {
    width: 95vw;
    height: 70vh;
  }
}

@media (max-width: 480px) {
  #book {
    width: 100vw;
    height: 60vh;
  }
}
